
.main__input--titulo {
    color: var(--dark-blue-300);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 0.625rem;
}

#input__texto {
    height: 550px;
    width: 700px;
    outline: none;
    overflow: auto;
    resize: none;
    padding: 1rem;
    font-size: 1.375rem;
    background-color: var(--light-blue-300);
   
}

.aviso{
    display: flex;
    gap: 1rem;
    margin-top: 15px;
    
    
    
   
}
.aviso__icon{
    
    height: 1rem;
    width: 1rem;
}

.botao--1 {
    background-color: var(--dark-blue-300);
    color: white;
    cursor: pointer;
}

.botao--2 {
    background-color: var(--light-blue-200);
    color: var(--dark-blue-300);
    cursor: pointer;
}

#botao--4 {
    background-color: var(--dark-blue-300);
    color: white;
    border: .1px solid var(--dark-blue-300);
    border-radius: 10px;
    height: 24px;
    width: 80px;
    margin-left: 365px;
    cursor: pointer;
  
}

#input__vazio {
    position: absolute;
    padding-top: 10rem;
    
}


