.rodape { 
    align-content: center;
    align-items: center;
    color: var(--light-blue-300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;

}

.rodape__texto {
    font-size: 1.25rem;
    margin: 20px 0 10px 0 ;
   
}

.icon__redes {
    display: flex;
    flex-direction:row;
    gap: 1.25rem; 
    height: auto;
    margin-bottom: 10px;
    width: auto;
   
}

.copyright { 
    align-items: center;
    color: var(--light-blue-300);
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0.75rem;
    
}

.copyright a {
    color: var(--light-blue-300);
}

.copyright a:hover {
    color: rgb(195, 193, 193);
}

a:visited {
    text-decoration: none;
    color: var(--gray--400);
}
